/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace components "nexosframework.components.*";
@namespace chartClasses "mx.charts.chartClasses.*";
@namespace containers "flexlib.mdi.containers.*";

/* Common font */
@font-face {
  src: url("/assets/font/NanumGothic.ttf");
  fontFamily: "NanumGothic";
  fontStyle : normal;
  fontWeight : normal;
  embedAsCFF: false;
  advancedAntiAliasing: false;
  unicodeRange : U+0020,U+0041-005A /*Uppercase*/ ,U+0020,U+0061-007A /*Lowercase*/ ,U+0030-0039,U+002E /*Numerals*/, U+0020-002F,U+003A-0040,U+005B-0060,U+007B-007E /*Punctuation*/, U+0020-007E,U+1100-11F9,U+3000-303F,U+3131-318E,U+327F,U+AC00-D7A3,U+FF01-FF60/*Hangul (All)*/ ,U+3000-303F,U+3105-312C,U+31A0-31BF,U+4E00-9FAF,U+FF01-FF60,U+F900-FAFF,U+201C-201D,U+2018-2019,U+2014,U+2026,U+FFE5,U+00B7; 
}
/* Common font */
@font-face {
  src: url("/assets/font/NanumGothic.ttf");
  fontFamily: "NanumGothicSpark";
  fontStyle : normal;
  fontWeight : normal;
  embedAsCFF: true;
  advancedAntiAliasing: false;
  unicodeRange : U+0020,U+0041-005A /*Uppercase*/ ,U+0020,U+0061-007A /*Lowercase*/ ,U+0030-0039,U+002E /*Numerals*/, U+0020-002F,U+003A-0040,U+005B-0060,U+007B-007E /*Punctuation*/, U+0020-007E,U+1100-11F9,U+3000-303F,U+3131-318E,U+327F,U+AC00-D7A3,U+FF01-FF60/*Hangul (All)*/ ,U+3000-303F,U+3105-312C,U+31A0-31BF,U+4E00-9FAF,U+FF01-FF60,U+F900-FAFF,U+201C-201D,U+2018-2019,U+2014,U+2026,U+FFE5,U+00B7;
}
/* Common font */
@font-face {
  src: url("/assets/font/NanumGothicBold.ttf");
  fontFamily : "NanumGothic";
  fontStyle : normal;
  fontWeight : bold;
  embedAsCFF: false;
  advancedAntiAliasing: false;
  unicodeRange : U+0020,U+0041-005A /*Uppercase*/ ,U+0020,U+0061-007A /*Lowercase*/ ,U+0030-0039,U+002E /*Numerals*/, U+0020-002F,U+003A-0040,U+005B-0060,U+007B-007E /*Punctuation*/, U+0020-007E,U+1100-11F9,U+3000-303F,U+3131-318E,U+327F,U+AC00-D7A3,U+FF01-FF60/*Hangul (All)*/ ,U+3000-303F,U+3105-312C,U+31A0-31BF,U+4E00-9FAF,U+FF01-FF60,U+F900-FAFF,U+201C-201D,U+2018-2019,U+2014,U+2026,U+FFE5,U+00B7;
}
/* Common font */
@font-face {
  src: url("/assets/font/NanumGothicBold.ttf");
  fontFamily : "NanumGothicSpark";
  fontStyle : normal;
  fontWeight : bold;
  embedAsCFF: true;
  advancedAntiAliasing: false;
  unicodeRange : U+0020,U+0041-005A /*Uppercase*/ ,U+0020,U+0061-007A /*Lowercase*/ ,U+0030-0039,U+002E /*Numerals*/, U+0020-002F,U+003A-0040,U+005B-0060,U+007B-007E /*Punctuation*/, U+0020-007E,U+1100-11F9,U+3000-303F,U+3131-318E,U+327F,U+AC00-D7A3,U+FF01-FF60/*Hangul (All)*/ ,U+3000-303F,U+3105-312C,U+31A0-31BF,U+4E00-9FAF,U+FF01-FF60,U+F900-FAFF,U+201C-201D,U+2018-2019,U+2014,U+2026,U+FFE5,U+00B7;
}

global {
  modalTransparencyBlur: 0;
  modalTransparency: 0.3;
  modalTransparencyColor: black;
  modalTransparencyDuration: 500;
}

s|Application {
  font-family : NanumGothic;
  fontSize: 12;
  color:#000000;
}

s|Label {
  font-family : NanumGothicSpark;
  fontSize: 12;
}

s|CheckBox {
  font-family : NanumGothicSpark;
  fontSize: 12;
}

s|ComboBox {
  font-family : NanumGothicSpark;
  fontSize: 12;
}

s|TextArea {
  font-family : NanumGothicSpark;
  fontSize: 12;
}

s|TextBase {
  font-family : NanumGothicSpark;
  fontSize: 12;
}

s|TextInput {
  font-family : NanumGothicSpark;
  fontSize: 12;
}

s|Button {
  font-family : NanumGothicSpark;
  fontSize: 12;
}

s|ButtonBar {
  font-family : NanumGothicSpark;
  fontSize: 12;
}

s|DataGrid  {
  font-family : NanumGothicSpark;
  fontSize: 12;
}

mx|DataGrid {
  font-family : NanumGothic;
  fontSize: 12;
}


s|Panel{
  font-family : NanumGothicSpark;
  fontSize: 12;
  headerHeight: 25;
  titleStyleName: "mypanelTitleSpark";
}

s|TitleWindow{
  font-family : NanumGothicSpark;
  fontSize: 12;
  headerHeight: 25;
  titleStyleName: "mypanelTitleSpark";
}

mx|Panel {
  /*
  borderThickness: 1;
  borderThicknessLeft: 1;
  borderThicknessTop: 1;
  borderThicknessBottom: 1;
  borderThicknessRight: 1;
  roundedBottomCorners: false;
  */
  font-family : NanumGothic;
  fontSize: 12;
  cornerRadius: 0;
  headerHeight: 25;
  backgroundAlpha: 1;
  dropShadowVisible: false;
  titleStyleName: "mypanelTitle";
  horizontalScrollPolicy : off;
  verticalScrollPolicy   : off;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

mx|HBox {
  horizontalScrollPolicy : off;
  border-color           : #9B9B9B;
  padding-bottom: 0;
  padding-left  : 0;
  padding-right : 0;
  padding-top   : 0;
  horizontal-gap: 0;
}

mx|VBox {
  horizontalScrollPolicy : off;
  verticalScrollPolicy   : off;
  border-color           : #9B9B9B;
  padding-bottom: 0;
  padding-left  : 0;
  padding-right : 0;
  padding-top   : 0;
}

mx|Label {
  font-family : NanumGothic;
  fontSize: 12;
}

mx|Button {
  font-family : NanumGothic;
  fontSize: 12;
}

mx|DateField {
  font-family : NanumGothic;
  fontSize: 12;
}

mx|ComboBox {
  font-family : NanumGothic;
  fontSize: 12;
  disabledColor : #0B333C;
  cornerRadius: 0;
  fontWeight: normal;
  borderStyle:solid;
  /*
  highlightAlphas: 0, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #ffffff, #ffffff, #ffffff, #ffffff;
  */
  closeDuration: 10;
  /*border-color           : #9B9B9B;*/
}

mx|PopUpButton {
  disabledColor : #0B333C;
  cornerRadius: 0;
  fontWeight: normal;
  borderStyle:solid;
  closeDuration: 10;
  /*
  highlightAlphas: 0, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #ffffff, #ffffff, #ffffff, #ffffff;
  border-color           : #9B9B9B;
  */
}

mx|ToolTip {
  fontSize: 10;
  font-family : NanumGothic;
}

mx|ApplicationControlBar {
  font-family : NanumGothicSpark;
  fontSize: 12;
  /*backgroundAlpha: 1;*/
  cornerRadius: 0;
  /*dropShadowEnabled: false;*/
}

/*
mx|ProgressBar {
  color: #0b333c;
  paddingLeft: 3;
  paddingRight: 3;
  textIndent: 0;
  letterSpacing: 0;
  trackHeight: 15;
  verticalGap: 0;
  fontSize: 10;
  fontWeight: normal;
}
*/
.topProgressBar {
  color: #0b333c;
  paddingLeft: 3;
  paddingRight: 3;
  textIndent: 0;
  letterSpacing: 0;
  trackHeight: 15;
  verticalGap: 0;
  fontSize: 10;
  fontWeight: normal;
}

/*
mx|TabNavigator {
  paddingTop : 1;
  tabStyleName: "asetecTabs";
  selectedTabTextStyleName: "asetecSelectedTab";
}
*/

mx|Alert {
  font-family : NanumGothic;
  fontSize: 12;
  titleStyleName: "alertTitle";
  messageStyleName: "alertMessage";
  buttonStyleName: "alertButton";
  cornerRadius: 0;
}

.alertTitle {
  font-family : NanumGothic;
  fontSize: 13;
  font-weight :bold;
  color: red;
}

.alertTitleGreen {
	font-family : NanumGothic;
	fontSize: 13;
	font-weight :bold;
	color: green;
}

.alertMessage {
  font-family : NanumGothic;
  fontSize: 13;
  fontWeight: normal;
}

.alertButton {
  font-family : NanumGothic;
  fontSize: 12;
  cornerRadius: 1;
  fontWeight: normal;
  color: black;
}

mx|FormItem {
  font-family : NanumGothic;
  fontSize: 12;
}

mx|TextInput {
  disabledColor : #9B9B9B;
  font-family : NanumGothic;
  fontSize: 12;
  borderStyle:solid;
  border-color  :#9B9B9B;
}

components|AsetecDataGrid {
  font-family : NanumGothic;
  fontSize: 12;
  headerColors:#ffffff,#ffffff;
  useRollOver: false;
  horizontalGridLines: true;
  horizontalGridLineColor: #9B9B9B;
  headerStyleName: "asetecGridHeaderStyle";
  rollOverColor : #2C4D5F;
  dataBackgroundColor : #ffffff;
  dataBackgroundDisabledColor : #9B9B9B;
}

components|GroupPanel {
  font-family : NanumGothicSpark;
  fontSize: 12;
  lineBorderColor : #9B9B9B;
  lineBorderStyle : solid;
  lineBorderThickness : 1;
  titleBackgroundColor : #ffffff;
}

.errorTip {
  color: #FFFFFF;
  fontSize: 12;
  font-family : NanumGothic;
  shadowColor: #000000;
  borderColor: #CE2929;
  borderStyle: errorTipRight;
  paddingBottom: 4;
  paddingLeft: 4;
  paddingRight: 4;
  paddingTop: 4;
}

/* 
ProgressBar {
  borderColor: #2b333c;
  barColor: #cccccc;
  color: #0b333c;
  paddingLeft: 3;
  paddingRight: 3;
  textIndent: 0;
  letterSpacing: 0;
  trackHeight: 4;
  verticalGap: 0;
  fontSize: 8;
  fontWeight: normal;
} */

.disableTextInput{
  disabledColor : #0B333C;
  contentBackgroundColor: #E0E0E0;
}

.enableTextInput{
  contentBackgroundColor: #FFFFFF;
}

.keyValue{
  contentBackgroundColor: #F0E795;
}

.keyValueComboBox{
  contentBackgroundColor: #F0E795;
  chromeColor: #F0E795;
}

.keyDataDateField{
  color:#000000;
  disabledColor:#000000;
  contentBackgroundColor: #F0E795;
}

.enableDataDateField{
  color:#000000;
  disabledColor:#000000;
  contentBackgroundColor: #FFFFFF;
}

.disableDataDateField{
  color:#000000;
  disabledColor:#000000;
  contentBackgroundColor: #E3E3E3;
}

.alignLeft{
  text-align:left;
}

.alignRight{
  text-align:right;
}

.alignCenter{
  text-align:center;
}

.asetecGridHeaderStyle {
  textDecoration: none;
  color : #FFFFFF;
}

.AsetecDataGridView {
  alternatingItemColors: #ffffff, #EFF1F2;
}

.AsetecDataGridUpdate {
  alternatingItemColors: #ffffff, #EFF1F2;
}

.AsetecDataGridEdit {  
  /*borderColor: #cc0000;*/
}

.AsetecDataGridReference {
  /*
  alternatingItemColors: #ffffff, #EFF1F2;
  borderColor: #660000;
  */
}

.PopupPanel {
  /*borderColor: #393939;*/
  color: #776121;
  borderAlpha: 1;
  cornerRadius: 0;
  borderThicknessLeft: 3;
  borderThicknessTop: 3;
  borderThicknessBottom: 3;
  borderThicknessRight: 3;
  roundedBottomCorners: false;
  headerHeight: 20;
  backgroundAlpha: 1;
  dropShadowVisible: false;
  /* titleStyleName: "mypanelTitle"; */
  titleStyleName: "mypanelTitleSpark";
  paddingBottom : 0;
  paddingLeft   : 0;
  paddingRight  : 0;
  paddingTop    : 0;
  skinClass     : ClassReference("assets.skin.AsetecPopUpSkin");
}

.mypanelTitle {
  fontSize: 12;
  paddingLeft : 0;
  font-family : NanumGothic;
}

.mypanelTitleSpark {
  fontSize: 12;
  paddingLeft : 0;
  font-family : NanumGothicSpark;
}

.searchBox{
  paddingLeft:  0;
  paddingRight: 0;
  paddingTop:   0;
  paddingBottom:0;
  verticalAlign: middle;
  contentBackgroundColor: #E6E6E6;
  border-color : #9B9B9B;
  border-sides : bottom;
  border-style : solid;
  border-thickness : 1;
  horizontal-gap : 0;
}

/** Icons **/
.subIndicator{
  brokenImageSkin: ClassReference("_SubIndicatorIcon");
}

.subMainTitle{
  brokenImageSkin: ClassReference("_SubMainTitleIcon");
}

.subTitle{
  brokenImageSkin: ClassReference("_SubTitleIcon");
}

.subTitleHbox{
  horizontalGap: 1;
  verticalAlign: middle;
  paddingLeft: 0;
  paddingTop: 5;
}

.gridButton{
  brokenImageSkin: ClassReference("_popupIcon");
  borderStyle: none;
  contentBackgroundAlpha: 0;
}

.borderBox{
  paddingLeft: 5;
  paddingRight: 5;
  borderColor: #9B9B9B;
  borderStyle: solid;
  verticalAlign: middle;
  horizontalGap: 1;
}

.asetecTabs {
  font-family : NanumGothic;
  font-weight : normal;
}

.asetecSelectedTab {
  font-family : NanumGothic;
  font-weight : normal;
} 

/* Popup Button */
.popupIcon
{
  /*skin: ClassReference("_popupIcon");*/
  skin:ClassReference("_popupIcon");
  borderStyle: none;
  contentBackgroundAlpha: 0;
}

/* AsetecDataGridPanel Buttons */
.btnGridAdd{
  /*skin: ClassReference("_btnGridAdd_skin");*/
  skin:ClassReference("_btnGridAdd_skin");
  borderStyle: none;
  contentBackgroundAlpha: 0;
}

.btnGridBack{
  /*skin: ClassReference("_btnGridBack_skin");*/
  skin:ClassReference("_btnGridBack_skin");
  borderStyle: none;
  contentBackgroundAlpha: 0;
  
}

.btnGridDelete{
  /*skin: ClassReference("_btnGridDelete_skin");*/
  skin:ClassReference("_btnGridDelete_skin");
  borderStyle: none;
  contentBackgroundAlpha: 0;
}

.btnGridNext{
  /*skin: ClassReference("_btnGridNext_skin");*/
  skin:ClassReference("_btnGridNext_skin");
  borderStyle: none;
  contentBackgroundAlpha: 0;
}

.btnGridSave{
  /*skin: ClassReference("_btnGridSave_skin");*/
  skin:ClassReference("_btnGridSave_skin");
  borderStyle: none;
  contentBackgroundAlpha: 0;
}

/* ImageUpload Buttons */
.btnDownload{
  /*skin: ClassReference("_btnDownload_skin");*/
  skin:ClassReference("_btnDownload_skin");
  borderStyle: none;
  contentBackgroundAlpha: 0;
}

.btnFolder{
  /*skin: ClassReference("_btnFolder_skin");*/
  skin:ClassReference("_btnFolder_skin");
  borderStyle: none;
  contentBackgroundAlpha: 0;
}

.btnUpDownStop{
  /*skin: ClassReference("_btnUpDownStop_skin");*/
  skin:ClassReference("_btnUpDownStop_skin");
  borderStyle: none;
  contentBackgroundAlpha: 0;
}

.btnUpload{
  /*skin: ClassReference("_btnUpload_skin");*/
  skin:ClassReference("_btnUpload_skin");
  borderStyle: none;
  contentBackgroundAlpha: 0;
}

.btnWindowRemove{
  /*skin: ClassReference("_btnWindowRemove_skin");*/
  skin:ClassReference("_btnWindowRemove_skin");
  borderStyle: none;
  contentBackgroundAlpha: 0;
}

/* refresh Button */
/*
.btnRefresh {
  skin: Embed(skinClass="_refresh");*/
  /*skin:ClassReference("_refresh");*/
/*
  borderStyle: none;
  contentBackgroundAlpha: 0;
}
*/


/* padding Style */
.boxDiv{
  contentBackgroundColor : #D98F00;
  background-color: #D98F00;
  padding-bottom: 0;
  padding-left  : 0;
  padding-right : 0;
  padding-top   : 0;
}

.padding8px{
  padding-bottom: 8;
  padding-left  : 8;
  padding-right : 8;
  padding-top   : 8;  
}

/**
Left Menu
*/
#leftMenu {
  font-family : NanumGothic;
  fontSize: 12;
  contentBackgroundColor:#E5E5E5;
  borderColor:#D4D4D4;
  borderAlpha: 1;
}

#leftMenu.close {
  /*
  closeButtonUpSkin:ClassReference("_LeftMenuClose_closeButtonSkin");
  closeButtonDownSkin:ClassReference("_LeftMenuClose_closeButtonSkin");
  closeButtonOverSkin:ClassReference("_LeftMenuClose_closeButtonSkin");
  closeButtonDisabledSkin:ClassReference("_LeftMenuClose_closeButtonSkin");
  */
  skin:ClassReference("_LeftMenuClose_closeButtonSkin");
}

#leftMenu.open {
  /*
  closeButtonUpSkin:ClassReference("_LeftMenuOpen_closeButtonSkin");
  closeButtonDownSkin:ClassReference("_LeftMenuOpen_closeButtonSkin");
  closeButtonOverSkin:ClassReference("_LeftMenuOpen_closeButtonSkin");
  closeButtonDisabledSkin:ClassReference("_LeftMenuOpen_closeButtonSkin");
  */
  skin:ClassReference("_LeftMenuOpen_closeButtonSkin");
}

.pbProgramStyle {
  barColor: #000033;
  font-family : NanumGothic;
  font-weight : normal;
}

/**
왼쪽 메뉴관련 스타일 설정
*/
.LeftLoading {
  skin:ClassReference("_LeftLoading_skin");
}

.treeStyle {
  rollOverColor: #f0f0f0;
  selectionColor: #30649b;
  textSelectedColor: #ffffff;
  border-color : #e5e5e5;
  contentBackgroundColor:  #e5e5e5;
  /*borderSkin: ClassReference("_LeftTree_borderSkin");*/
  defaultLeafIcon: ClassReference("_LeftTree_defaultLeafIcon");
  disclosureClosedIcon: ClassReference("_LeftTree_disclosureClosedIcon");
  disclosureOpenIcon: ClassReference("_LeftTree_disclosureOpenIcon");
  folderClosedIcon: ClassReference("_LeftTree_folderClosedIcon");
  folderOpenIcon: ClassReference("_LeftTree_folderOpenIcon");
}

/**
로그인관련 스타일 설정
*/
.LoginPanel {
  borderSkin: ClassReference("_LoginPanel_borderSkin");
  closeButtonSkin: ClassReference("_LoginPanel_closeButtonSkin");
  controlBarBackgroundSkin: ClassReference("_LoginPanel_controlBarBackgroundSkin");
}

.LoginBtn {
  /*skin: ClassReference("_LoginBtn_skin");*/
  skin:ClassReference("_LoginBtn_skin");
}

.LoginInput {
  /* backgroundAlpha: 0.2; */
  borderSkin: ClassReference("_LoginInput_borderSkin");
  font-family : NanumGothic;
  fontSize: 12;
  color: #ffffff;
}

.LoginInputSpark {
  font-family : NanumGothicSpark;
  fontSize: 12;
  color: #ffffff;
}

/**
MDI창 관련
*/
containers|MDIWindow{
  titleStyleName: "mdiTitleStyleName";
  minimizeBtnStyleNameNoFocus: "_mdiWindowMinimizeBtnNoFocus";
  maximizeBtnStyleNameNoFocus: "_mdiWindowMaximizeBtnNoFocus";
  restoreBtnStyleNameNoFocus: "_mdiWindowRestoreBtnNoFocus";
  closeBtnStyleNameNoFocus: "_mdiWindowCloseBtnNoFocus";
}

.mdiTitleStyleName
{
  font-family : NanumGothic;
  fontSize: 12;
  fontWeight: normal;
  color: #FFFFFF;
}

.mdiWindowFocus {
  /*
  borderColor: #0053E1;
  borderAlpha: 1;
  borderThicknessLeft: 2;
  borderThicknessTop: 0;
  borderThicknessBottom: 2;
  borderThicknessRight: 2;
  roundedBottomCorners: false;
  
  dropShadowEnabled: false;
  headerHeight: 29;
  backgroundAlpha: 1;
  
  cornerRadius: 5;
  */
  headerHeight: 26;
  padding-left:  0;
  padding-right: 0;
  /* 
  borderSkin: ClassReference("_mdiWindowFocus_borderSkin");
  */
  titleBackgroundSkin: ClassReference("_mdiWindowFocus_titleBackgroundSkin");
}

.mdiWindowNoFocus {
  /*
  borderColor: #7B97E0;
  borderAlpha: 1;
  borderThicknessLeft: 2;
  borderThicknessTop: 0;
  borderThicknessBottom: 2;
  borderThicknessRight: 2;
  roundedBottomCorners: false;
  cornerRadius: 5;
  
  dropShadowEnabled: false;
  headerHeight: 29;
  backgroundAlpha: 1;
  */
  headerHeight: 26;
  padding-left:  0;
  padding-right: 0;
  /* 
  borderSkin: ClassReference("_mdiWindowNoFocus_borderSkin");
  */
  titleBackgroundSkin: ClassReference("_mdiWindowNoFocus_titleBackgroundSkin");
  
}

.mdiWindowCloseBtn {
  disabledSkin: ClassReference("_mdiWindowCloseBtn_disabledSkin");
  downSkin: ClassReference("_mdiWindowCloseBtn_downSkin");
  overSkin: ClassReference("_mdiWindowCloseBtn_overSkin");
  upSkin: ClassReference("_mdiWindowCloseBtn_upSkin");
}
.mdiWindowCloseBtnNoFocus {
  disabledSkin: ClassReference("_mdiWindowCloseBtnNoFocus_disabledSkin");
  downSkin: ClassReference("_mdiWindowCloseBtnNoFocus_downSkin");
  overSkin: ClassReference("_mdiWindowCloseBtnNoFocus_overSkin");
  upSkin: ClassReference("_mdiWindowCloseBtnNoFocus_upSkin");
}

.mdiWindowMaximizeBtn {
  disabledSkin: ClassReference("_mdiWindowMaximizeBtn_disabledSkin");
  downSkin: ClassReference("_mdiWindowMaximizeBtn_downSkin");
  overSkin: ClassReference("_mdiWindowMaximizeBtn_overSkin");
  upSkin: ClassReference("_mdiWindowMaximizeBtn_upSkin");
}

.mdiWindowMaximizeBtnNoFocus {
  disabledSkin: ClassReference("_mdiWindowMaximizeBtnNoFocus_disabledSkin");
  downSkin: ClassReference("_mdiWindowMaximizeBtnNoFocus_downSkin");
  overSkin: ClassReference("_mdiWindowMaximizeBtnNoFocus_overSkin");
  upSkin: ClassReference("_mdiWindowMaximizeBtnNoFocus_upSkin");
}

.mdiWindowMinimizeBtn {
  disabledSkin: ClassReference("_mdiWindowMinimizeBtn_disabledSkin");
  downSkin: ClassReference("_mdiWindowMinimizeBtn_downSkin");
  overSkin: ClassReference("_mdiWindowMinimizeBtn_overSkin");
  upSkin: ClassReference("_mdiWindowMinimizeBtn_upSkin");
}
.mdiWindowMinimizeBtnNoFocus {
  disabledSkin: ClassReference("_mdiWindowMinimizeBtnNoFocus_disabledSkin");
  downSkin: ClassReference("_mdiWindowMinimizeBtnNoFocus_downSkin");
  overSkin: ClassReference("_mdiWindowMinimizeBtnNoFocus_overSkin");
  upSkin: ClassReference("_mdiWindowMinimizeBtnNoFocus_upSkin");
}

.mdiWindowRestoreBtn {
  disabledSkin: ClassReference("_mdiWindowRestoreBtn_disabledSkin");
  downSkin: ClassReference("_mdiWindowRestoreBtn_downSkin");
  overSkin: ClassReference("_mdiWindowRestoreBtn_overSkin");
  upSkin: ClassReference("_mdiWindowRestoreBtn_upSkin");
}

.mdiWindowRestoreBtnNoFocus {
  disabledSkin: ClassReference("_mdiWindowRestoreBtnNoFocus_disabledSkin");
  downSkin: ClassReference("_mdiWindowRestoreBtnNoFocus_downSkin");
  overSkin: ClassReference("_mdiWindowRestoreBtnNoFocus_overSkin");
  upSkin: ClassReference("_mdiWindowRestoreBtnNoFocus_upSkin");
}

/**
TOP 메뉴관련
*/
.btnLogout {
  /*skin: ClassReference("_btnLogout_skin");*/
  skin:ClassReference("_btnLogout_skin");
  borderStyle: none;
  backgroundAlpha: 0;
}

.btnCancel {
  /*skin: ClassReference("_btnCancel_skin");*/
  skin:ClassReference("_btnCancel_skin");
  borderStyle: none;
  backgroundAlpha: 0;
}

.imgCI {
  /*brokenImageSkin: ClassReference("_imgCI_brokenImageSkin");*/
  skin:ClassReference("_imgCI_brokenImageSkin");
  borderStyle: none;
  backgroundAlpha: 0;
}

.btnDelete {
  /*skin: ClassReference("_btnDelete_skin");*/
  skin:ClassReference("_btnDelete_skin");
  borderStyle: none;
  backgroundAlpha: 0;
}

.btnExcel {
  /*skin: ClassReference("_btnExcel_skin");*/
  skin:ClassReference("_btnExcel_skin");
  borderStyle: none;
  backgroundAlpha: 0;
}

.btnInquiry {
  /*skin: ClassReference("_btnInquiry_skin");*/
  skin:ClassReference("_btnInquiry_skin");
  borderStyle: none;
  backgroundAlpha: 0;
}

.btnMenu {
  /*skin: ClassReference("_btnMenu_skin");*/
  skin:ClassReference("_btnMenu_skin");
  borderStyle: none;
  backgroundAlpha: 0;
}

.btnNew {
  /*skin: ClassReference("_btnNew_skin");*/
  skin:ClassReference("_btnNew_skin");
  borderStyle: none;
  backgroundAlpha: 0;
}

.btnSave {
  /*skin: ClassReference("_btnSave_skin");*/
  skin:ClassReference("_btnSave_skin");
  borderStyle: none;
  backgroundAlpha: 0;
}

.btnFullScreen {
  /*skin: ClassReference("_btnFullScreen_skin");*/
  skin:ClassReference("_btnFullScreen_skin");
  borderStyle: none;
  backgroundAlpha: 0;
}

.btnPrinterSetup {
  /*skin: ClassReference("_btnPrinterSetup_skin");*/
  skin:ClassReference("_btnPrinterSetup_skin");
  borderStyle: none;
  backgroundAlpha: 0;
}

.btnClose {
  /*skin: ClassReference("_btnClose_skin");*/
  skin:ClassReference("_btnClose_skin");
  borderStyle: none;
  backgroundAlpha: 0;
}